body {
    font-family: 'Quicksand', sand-serif;
    margin: 5% auto;
    max-width: 73%;
    line-height: 1.8;
    font-size: 22px;
    padding: 0 2.4em;
    color: #444444;
    background-color: #f2f2f2;
    overflow-y: overlay;
}



